h1 {
	font: 24px 'Fira Sans', sans-serif;
}

h2 {
	font: 20px 'Fira Sans', sans-serif;
}

p { 
	font: 14px 'Fira Sans', sans-serif;
}

/* Главное меню */
#topmenu > li > a {
	font: 20px 'Arimo', sans-serif;
	color: white;
	display: block;
	padding: 40px 30px;
	height: 100%;
	width: 100%;
}

/* Шрифты для 1366х768 */
.text_light { 
	font: 14px 'Fira Sans', sans-serif;
}
.text_regular {
	font: 20px 'Fira Sans', sans-serif;
}

/* Кнопки-ссылки */
.button, .button:hover {
	padding: 10px 70px;
	font: 20px 'Fira Sans', sans-serif;
}

/* Стилизуем содержимое header */
.logo {
	height: 103px;
	width: auto;
} 

header {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images1366/header.jpg');
	background-size: cover;
	padding-top: 20px;
}
.header_text {
	margin-top: 100px;
	text-align: justify;
}

.header_text h1 {
	text-align: center;
	margin-bottom: 20px;
	font: 20px 'Fira Sans', sans-serif;
	font-weight: 400;
}

.header_text p {
	font: 14px 'Fira Sans', sans-serif;
	font-weight: 300;
}

/* Стилизуем содержимое секции услуги */
#services {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images1366/services.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.services_text {
	margin-top: 250px;
}
.services_text-first {
	margin-bottom: 100px;
}

/* Секция Entry */
#entry {
	background: url(../images1366/entry.jpg) no-repeat;
	background-size: cover;
}
.entry_text-left {
	text-align: left;
	margin-top: 120px;
}

.entry_text-right {
	text-align: right;
	margin-top: 400px;
}

.entry_text-right .text_regular {
	margin-bottom: 50px;
}

.entry_button {
	margin-top: 50px;
}

/* Стилизуем содержимое 4 секции - gallery */
#gallery {
	background: url(../images1366/gallery.jpg) no-repeat;
	background-size: cover;
}

.gallery_text-left {
	text-align: left;
	margin-top: 200px;
}

.gallery_text-right {
	text-align: right;
	margin-top: 300px;
}

.gallery_button {
	margin-top: 65px;
	display: inline-block;
}

/* Стилизуем 5 секцию */
#about {
	background: url(../images1366/about.jpg) no-repeat;
	background-size: cover;
}

.about_text-left {
	margin-top: 200px;
	text-align: left;
}

.about_text-right {
	margin-top: 200px;
	text-align: right;
}

.about_text-second {
	margin-top: 40px;
	margin-bottom: 60px;
}

/* Стилизуем футер */
#ButtonUp {
	background: url(../images1366/btn_up.png) no-repeat;
	height: 40px;
	width: 360px;
}

.footer_menu-link, .footer_menu-link:hover {
	color: white;
	font: 18px 'Arimo', sans-serif;
}

.footer_menu {
	margin: 50px 0 25px 0;
}

.footer_submenu {
	margin-top: 30px;
}

.footer_submenu > li {
	margin-top: 20px;
	cursor: pointer;
}

hr {	
	position: relative;
	top: 100px;
}

.footer_author {
	margin-top: 50px;
}

.footer_design img {
	width: 130px;
}

.footer_copy {
	font: 12px 'Fira Sans', sans-serif;
	font-weight: 300;
}