#page404 {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/404.webp');
	background-repeat: no-repeat;
	background-size: cover;
}

.cont404 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pp-tableCell {
    display: table-cell !important;
}
