#brow {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/brow.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.brow_block {
	margin-top: 250px;
	text-align: justify;
}

/* Медиа-запросы */
@media (min-width: 1301px) and (max-width: 1900px) {

	#brow {
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images1366/brow.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

} /*End (max-width: 1301px) and (max-width: 1900px) */