h1 {
	margin-top: 50px;
	font-family: 'Exo 2', sans-serif;
}

/* Стилизуем контакты */
#information {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/information.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.contacts-text {
	text-align: justify;
	margin-top: 50px;
}

/* ///////////// */

.map {
	width: 100%;
	height: 400px;
	position: relative;
	margin-top: 50px;
}

.map_shadow {
	background-color: rgba(15,10,7,0.5);
	z-index: 15;
	width: 100%;
	height: 400px;
	position: absolute;
}

.map_button {
	font: 20px 'Fira Sans', sans-serif;
	font-weight: 300;
	z-index: 9999;
	position: absolute;
	color: white;
	font-size: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    background: #161616;
    border: 0;
    cursor: pointer;
    display: block;
    top: 42%;
    left: 37%;
}

.map_iframe {
	z-index: 10;
	width: 100%;
	height: 400px;
	position: absolute;
}

/* /////////// */

.exo {
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.contacts_list {
	margin-top: 50px;
}

.social_list {
	margin-top: 50px;
}

.contacts_list li:first-child {
	margin-top: 0px;
}

.contacts_list li {
	margin-top: 50px;
	color: white;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.contacts_list li a {
	color: white;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

/* Иконки */
svg {
	position: relative !important;
	margin-right: 5px !important;
	top: 1px !important;
}

@media (min-width: 1301px) and (max-width: 1900px) {

#information {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images1366/information.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

svg {
	top: 0px !important;
}


.contacts-text {
	margin-top: 30px;
}

.map {
	margin-top: 30px;
}

.map_button {
	font-size: 14px !important;
    top: 45%;
    left: 35%;
}

.contacts_block-left {
	margin-top: 30px;
}

.contacts_list {
	margin-top: 30px;
}

.contacts_list li {
	margin-top: 35px;
}

.social_list > li > a > img {
	height: 40px !important;
	width: 40px !important;
}

.contacts_list li a {
	font-size: 14px;
}

.contacts_list li {
	font-size: 14px;
}

.social_list {
	margin-top: 50px;
}

} /*End (max-width: 1301px) and (max-width: 1900px) */
