/* Стилизуем галерею */
#portfolio {
	background: url('../images/portfolio.jpg') no-repeat;
	background-size: cover;
}

.portfolioImg {
	height: 400px;
	filter: brightness(60%);
}

.portfolioImg:hover {
	height: 400px;
	filter: brightness(100%);
}

@media (min-width: 1301px) and (max-width: 1900px) {

	#portfolio {
		background: url('../images1366/portfolio.jpg') no-repeat;
		background-size: cover;
	}

	.portfolioImg {
		height: 250px;
	}

	.portfolioImg:hover {
		height: 250px;
		filter: brightness(100%);
	}
}