#price {
	background: url(../images/services.jpg) no-repeat;
	background-size: cover;
}

.services_block {
	margin-top: 200px;
	text-align: center;
}

#stylist {
	background: url(../images/hair.jpg) no-repeat;
	background-size: cover;
}

.stylist_block-left {
	margin-top: 250px;
	text-align: left
}

.stylist_block-right {
	margin-top: 250px;
	text-align: right;
}

#brow {
	background: url(../images/cosmetolog.jpg) no-repeat;
	background-size: cover;
}

.brow_block {
	margin-top: 250px;
	text-align: justify;
}

.tablepress .even td, .tablepress .odd td, .tablepress thead th { 
    background: transparent !important;
    color: white;
    font-size: 20px;
}

/* Медиа-запросы */
@media (min-width: 1301px) and (max-width: 1900px) {
	#stylist {
		background: url(../images1366/hair.jpg) no-repeat;
		background-size: cover;
	}

	#brow {
		background: url(../images1366/cosmetolog.jpg) no-repeat;
		background-size: cover;
	}

	.tablepress .even td, .tablepress .odd td, .tablepress thead th { 
	    font-size: 16px;
	}
} /*End (max-width: 1301px) and (max-width: 1900px) */