#stylist {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/hair.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/* Медиа-запросы */
@media (min-width: 1301px) and (max-width: 1900px) {
	
	#stylist {
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images1366/hair.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

} /*End (max-width: 1301px) and (max-width: 1900px) */